*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.wrapper
{
    /* General Properties */
    width: 100vw;
    height: 100vh;

    /* Grid properties */
    display: grid;
    grid-template-columns: 300px 4fr 300px;
    grid-template-rows:150px 50px auto 50px auto;
}

div
{
    /* General properties */

    /* Border properties */
    /* border-style: solid;
    border-width: 1px; */
}

.header
{
    /* Parent grid properties */
    grid-column: 2/-1;
    grid-row: 1/2;

    /* Sub grid properties */
    display: grid;
    grid-row: 1fr 1fr;

    background-color: white;
}

.header .topBar
{
    /* General properties */
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

    /* Sub grid properties */
    display: grid;
    grid-template-columns: auto minmax(100px, 2fr) 1fr auto auto auto;
    column-gap: 30px;
}

.searchBar
{
    /* General properties */
    width: 100%;
    height: 30px;
    background-color: rgb(235, 235, 236);

    /* Bar properties */
    border-radius: 15px;
    border-style: none;
}

.topAccountName
{
    /* Text properties */
    font-weight: bold;
}

.header .botBar
{
    /* General properties */
    position: relative;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

    /* Sub grid properties */
    display: grid;
    grid-template-columns: auto auto 1fr auto auto auto;
    column-gap: 20px;

    /* Box shadow properties */
    box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.2);
}

.botGreeting > *
{
    /* Text properties */
    text-align: start;
    font-weight: bold;
}

.botGreeting .botAccountName
{
    font-size: 24px;
}

.newButton, .uploadButton, .shareButton
{
    /* General properties */
    width: 100px;
    height: 40px;
    background-color: rgb(29, 148, 218);

    /* Border properties */
    border-radius: 20px;
    border-style: none;

    /* Text properties */
    color: white;
}

.newButton:active, .uploadButton:active, .shareButton:active
{
    background-color: rgb(21, 110, 161);
}


.dashboard
{
    /* General Properties */
    padding: 20px;
    background-color: rgb(29, 148, 218);

    /* Main grid properties */
    grid-row: 1/-1;

    /* Sub grid properties */
    display: grid;
    grid-template-rows: 50px 250px 125px;
    row-gap: 25px;
}

.dashboard .dashTop
{
    /* General properties */
    align-items: center;
    justify-content: start;

    /* Sub grid properties */
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.dashboard .topText
{
    /* Text properties */
    font-size: 30px;
    color: white;
}

.dashboard .dashMid
{
    /* General properties */
    align-items: center;
    justify-content: start;

    /* Sub grid properties */
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.dashMid > *
{
    /* Text properties */
    font-size: 18px;
    color: white;
}

.dashboard .dashBot
{
    /* General properties */
    align-items: center;
    justify-content: start;

    /* Sub grid properties */
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.dashBot > *
{
    /* Text properties */
    font-size: 18px;
    color: white;
}

.projectsTitle, .announcmentsTitle, .trendingTitle
{
    /* General properties */
    height: 50px;
    padding-left: 20px;
    background-color: rgb(226, 237, 243);

    /* Flex properties */
    display: flex;
    align-items: flex-end;
}

.projects
{
    /* General Properties */
    padding: 5px 20px 20px 20px;

    /* Main grid properties */
    grid-row: 3/-1;

    /* Sub grid properties */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 200px;
    gap: 4vh;

    /* Main */
    background-color:rgb(226, 237, 243);
}

.projectBox
{
    /* General Properties */
    min-width: 300px;
    min-height: 200px;
    max-height: 200px;

    /* Border properties */
    border-radius: 10px;

    /* Sub grid properties */
    display: grid;
    grid-template-columns: 10px auto;
    grid-template-rows: minmax(125px, auto) 75px;

    /* Box shadow properties */
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

.projectBox .boxAccent
{
    /* General properties */
    background-color: rgb(250, 184, 62);

    /* Border properties */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    /* Main grid properties */
    grid-column: 1/2;
    grid-row: 1/-1;

    /* Box shadow properties */
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

.projectBox .boxText
{
    /* General properties */
    padding: 30px 20px 20px 20px;
    background-color: white;

    /* Main grid properties */
    grid-column: 2/-1;

    /* Sub grid properties */
    display: grid;
    grid-template-rows: 24px auto;

    /* Border properties */
    border-top-right-radius: 10px;
}

.boxText p
{

    /* Hide overflow properties */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    /* Text properties */
    font-family: Arial;
    font-size: 14px;
}

.projectBox .boxIcons
{
    /* General properties */
    padding: 20px;
    background-color: white;
    

    /* Flex properties */
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 25px;

    /* Border properties */
    border-bottom-right-radius: 10px;
}

.boxIcons button
{
    /* General properties */
    background-color: white;

    /* Border properties */
    border: none;
}

.boxIcons i:hover
{
    
    color: rgb(29, 148, 218);
}


.announcments, .trending
{
    background-color: whitesmoke;
}